body
{
	font-family: monospace;
	color: #ffffff;
	background-color: #000000;
	font-size: medium;

}

#Logo
{
	color: #FFBF00;
	white-space: pre;
	font-size: small;
	text-align: center;

}

#Credits
{
	color: #FFBF00;
	font-size: small;
	text-align: center;
}

.TopSection
{
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	padding: 12px;
	margin: 12px;
}

.Section
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	padding: 12px;
	margin: 12px;
	user-select: none;
}

.Section_Title
{
	color: #FFBF00;
}

.Section_Status
{
	color: #FFFFFF;
}

.Subsection
{
	border-style: dashed;
	border-width: 1px;
	border-color: #FFFFFF;
	padding: 12px;
	margin: 12px;
}

.StatusItem
{
	display: inline-block;
	user-select: none;
}


